<h1>My Page</h1>

<% if logged_in? %>
  <!-- 一覧表示 -->
  <% @current_user.user_projects.each do |user_project| %>
    <div class="project">
      <a class="project_name" href="/projects/<%= user_project.project.id %>"><%= user_project.project.name %></a><br>
      <%= user_project.project.caption %>
    </div>
  <% end %>
  <br>

  <!--作成フォーム-->
  <div class="create_form_container">
    <div class="create_form_child">
    <details>
      <summary>新しく旅行ページを作成する</summary>
        <%= form_for(@project, :url => {:controller => :projects, :action => :create }) do |f| %>
          <p>旅行の名前を入力</p>
          <%= f.text_field :name, autofocus: true %>
          <p>旅行の説明を入力</p>
          <%= f.text_area :caption, autofocus: true %><br>
        <!-- メンバーの追加はここでやる？ -->
        <%= f.submit "ページを作成" %>
      <% end %>
      </details>
    </div>
  </div>
<% end %>