<h1>User page/Project一覧</h1>
<% if logged_in? %>
  <!--一覧表示-->
  <% @user.user_project.each do |user_project|%>
    <p>user_project.project.name</p>
    <p>user_project.project.caption</p>
    <%= link_to '削除', "/projects/#{user_project.project.id}", method: :delete %>
  <%end%>

  <!--作成フォーム-->
  <%= form_for(@project, url: {controller: 'projects', action: 'create' }) do |f| %>
    <div>
      <%= f.label :プロジェクト名%><br>
      <%= f.text_field :name, autofocus: true %>
      <%= f.label :キャプション%><br>
      <%= f.text_area :caption, autofocus: true %>
    </div>
    <!-- メンバーの追加はここでやる？ -->
  <%= f.submit %>
<% end %>
