<!-- 編集 -->
<h1>EDIT</h1>
  <%= form_for(@project, :url => {:controller => :projects, :action => :update },  html: { class: "project_edit_form" }) do |f| %>
    <b><%= f.label :旅行名, html: { class: "project_edit_label" } %></b>
    <%= f.text_field :name, html: { class: "project_name_edit" } %>

    <b><%= f.label :説明 %></b>
    <%= f.text_area :caption, html: { class: "project_caption_edit" } %>
    <br>
    <%=  f.submit "更新する" , class: "btn" %>
  <% end %>
