<h1>プロジェクト編集</h1>
<!--いったん保留-->
<!--
<%= form_for @project, url: url_for(action: :edit_metadata) do |f| %>
    <div>
        <%= f.label :プロジェクト名 %><br>
        <%= f.text_field :name, autofocus: true, :placeholder =>"#{@project.name}" %>
    </div>
    <div>
        <%= f.label :キャプション %><br>
        <%= f.text_area :caption, :placeholder =>"#{@project.caption}" %>
    </div>
    <div><%= f.submit "編集完了" %></div>
<% end %>
-->