<!--projectページ-->
<%= javascript_pack_tag 'map_project', 'data-turbolinks-track': 'reload'%>

<%if logged_in?%>
  <!--metadata-->
  <h1 class="project_name"><%= @project.name%></h1>
  <p class="project_caption"><%= @project.caption%></p>

  <div class="project_btns">
  <%= link_to edit_project_path(@project.id), class: "btn" do %>
    <i class="fa-solid fa-pen-to-square"></i>旅行詳細を編集
  <% end %>

  <%= link_to project_path(@project.id), class: "btn destroy", :method => :delete, data: {confirm: "旅行ページを削除しますか？一度削除すると元に戻すことができません"} do %>
    <i class="fa-solid fa-trash-alt"></i>旅行ページを削除
  <% end %>
  </div>

  <details>
    <summary>招待リンクを表示</summary>
    <p>https://localhost:3001/projects/<%= params[:id] %>/invite</p>
  </details>

  <!--post一覧表示-->
  <%#= render 'posts/show' %>

  <%= link_to 'Create Post', new_post_path(project_id: params[:id]) %>
  <% @posts.each do |post| %>
    <img src="<%= post[:image] %>">
    <p class="post_caption">
        <%= post[:name] %><br>
        <%= safe_join(post[:caption].split("\n"),tag(:br)) %>
    </p>
    <%= link_to '投稿詳細', post_path(post[:id]) %>
  <% end %><br>

  <div id="map"></div>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap&v=weekly"
  defer></script>

  <ol>
  <% @location.each do |location| %>
    <li>
      <%= location[:name] %>
      <%# <%= location[:lat] %> 
      <%# <%= location[:lng] %> 
      <input type="hidden" class="name" value="<%= location[:name] %>">
      <input type="hidden" class="lat" value="<%= location[:lat] %>">
      <input type="hidden" class="lng" value="<%= location[:lng] %>">
    </li>
    <br>
  <% end %>
  </ol>


  <div id="test"></div>

<% end %>

