<!--projectページ-->
<%if logged_in?%>
  <!--metadata-->
  <h1><%= @project.name%></h1>
  <br/>
  caption
  <%= @project.caption%>
  <br>

  <!--delete-->
  <%= link_to project_path(@project.id), class: "btn destroy", :method => :delete, data: {confirm: "削除しますか？"} do %>
    <i class="fa-solid fa-trash-alt"></i>
  <% end %>

  <%= link_to edit_project_path(@project.id), class: "btn" do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <br>
  <br>
  <!--post一覧表示-->
  <%= render 'posts/show' %>


  <!--作成ボタン-->
  <!-- 作成してあるページに飛ぶ感じ -->
  <!-- redirectto create_post-->
  <%#= button_to "新規作成", controller: 'posts', action: 'create', params: {id: @project.id}, method: "get" %>

<% end %>
