<h1>Project page/Post一覧</h1>
<%if logged_in?%>
  <!--metadata-->
  name
  <%= @project.name%>
  <br/>
  caption
  <%= @project.caption%>
  <br>

  <!--delete-->
  <!--<%= link_to project_path(@project.id), method: :destroy, data: {confirm: "削除しますか？"} %>-->
  <%= link_to 'Destroy Project', project_path(@project.id), :method => :delete, data: {confirm: "削除しますか？"} %>
  <%= link_to 'Edit Project', edit_project_path(@project.id) %>
  <!--post一覧表示-->
  <%= render 'posts/show'%>


  <!--作成ボタン-->
  <!-- 作成してあるページに飛ぶ感じ -->
  <!-- redirectto create_post-->
  <%#= button_to "新規作成", controller: 'posts', action: 'create', params: {id: @project.id}, method: "get" %>

<% end %>
