<h1>instagram auth</h1>
<% flash.each do |type, m| %>
  <div class="<%=type%>"><%= m %></div>
<% end %>

<%= link_to "home", root_path%></br>
<%if logged_in?%>
  <% if @days_left == nil then%>
    <%= link_to "instagramの権限を与える", @link%>
  <% elsif @days_left > 1 then %>
    <!-- 仮post_id-->
    <p><%= @days_left.to_i%>日後に死ぬ権限</p>
    <%= link_to "権限を更新", controller: "instagram_auth", action: "token_exchange"%>
  <% end %>
<%end%>
