<h1>Post編集</h1>
<!--いったん保留-->
<!--
<%= form_for @post, url:url_for(action: 'update', id:@post.id) do |f| %>
    <div>
        <%= f.label :ポスト名 %><br>
        <%= f.text_field :name, autofocus: true, :placeholder =>"#{@post.name}" %>
    </div>
    <div>
        <%= f.label :キャプション %><br>
        <%= f.text_area :caption, :placeholder =>"#{@post.caption}" %>
    </div>
    <div><%= f.submit "編集完了" %></div>
-->
<% end %>