<!--post作成フォーム-->
<h1>Create Post</h1>
  <%= form_for(@post) do |f| %>
    <div>
      <%= f.label :キャプションを入力%><br>
      <%= f.text_area :caption, autofocus: true %>
      <%= f.file_field :image %>
    </div>
  <%= f.submit %>
<% end %>