<!--project内にpostをrender-->

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="app/assets/stylesheets/posts.css">

</head>

<body>

<% flash.each do |type, mes| %>
  <div class="notifications">
    <!--type = "alert" => 削除できません。-->
    <div class="<%=type%>"><%=mes%></div>
  </div>
<% end %>

<div class="header">
<h1 class="name"><%= @post.name%></h1>
<p class="caption"><%= @post.caption%></p>

  <div class="btns">
  <%= link_to edit_post_path(@post.id), class: "btn" do %>
    <i class="fa-solid fa-pen-to-square"></i>投稿を編集
  <% end %>

  <%= link_to post_path(@post.id), class: "btn destroy", :method => :delete, data: {confirm: "旅行ページを削除しますか？一度削除すると元に戻すことができません"} do %>
    <i class="fa-solid fa-trash-alt"></i>投稿を削除
  <% end %>
  <br>
  <%= link_to class: "btn", controller: "instagram_auth", action: "show_image", id: @post.id do %>
    <i class="fab fa-instagram"></i>Instagramから写真を取得する
  <% end %>
  </div>
  <%= form_with url: {controller: 'posts', action: 'add_image', id: @post.id } do |form| %>
    <%= form.file_field :image %>
    <%= form.submit %>
  <% end %>
</div>


<% @post.images.each do |media| %>
  <% if media.media_type == 'IMAGE' then %>
    <img src = <%= media.url %> class="media">
  <% else %>
    <video controls autoplay name="media" class="media">
      <source src=<%= media.url %> type="video/mp4">
      <source src=<%= media.url %> type="video/webm">
    </video>
  <% end %>
<% end %>

<!--location info-->
<%= @location_lng %>
<%= @location_lat %>
<%= @location_name %>

</body>
