<!--project内にpostをrender-->

<head>
</head>
<body>

<% flash.each do |type, mes| %>
  <div class="notifications">
    <!--type = "alert" => 削除できません。-->
    <div class="<%=type%>"><%=mes%></div>
  </div>
<% end %>

<h2>title <%= @post.name %></h2>
<h3>caption <%= @post.caption %></h3>

<%# @post.images.each do |media| %>
  <%# if media.media_type == 'IMAGE' then %>
  <!--<img src = <%#= media.url %>>-->
  <%# else %>
  <!--<video controls autoplay name="media">-->
  <!--<source src=<%#= media.url %> type="video/mp4">-->
  <!--<source src=<%#= media.url %> type="video/webm">-->
  <!--</video>-->
  <%# end %>
<%# end %>

<% @images.each do |media|%>
  <% if media[:media_type] == 'IMAGE' then %>
    <img src = <%= media[:url] %>>
  <% else %>
    <video controls autoplay name="media">
      <source src=<%= media[:url] %> type="video/mp4">
      <source src=<%= media[:url] %> type="video/webm">
    </video>
  <% end %>

<% end %>

<!--location info-->
<%= @location_lng %>
<%= @location_lat %>
<%= @location_name %>

<%= link_to '投稿を編集', edit_post_path(@post.id) %>
<%= link_to '投稿を削除', post_path(@post.id), :method => :delete, data: {confirm: "削除しますか？"} %>


<%= link_to 'get media from instagram', controller: "instagram_auth", action: "show_image", id: @post.id %>

</body>

