<!--project内にpostをrender-->


<html>
  <head>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <%= stylesheet_link_tag "map_style.css" %>
  </head>
  <body>
    <% flash.each do |type, mes| %>
      <div class="notifications">
        <div class="<%=type%>"><%=mes%></div>
      </div>
    <% end %>

    <h2>title <%= @post.name %></h2>
    <h3>caption <%= @post.caption %></h3>

    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>

    <button type=button id="place-btn">place list</button>  

    <!-- 位置情報送信用form -->
    <form id="place-list" action="/posts/<%= @post.id %>/location" method="put">      
      <input type="submit" value="位置情報を登録する">
    </form>

    <button type=button id="set-pin">set pin</button>  
    <button type=button id="clear-pin">clear pin</button>  
    <br/>

  <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload'%>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initAutocomplete&libraries=places&v=weekly"
    defer
  ></script>
    


    <% @post.images.each do |media| %>
      <% if media.media_type == 'IMAGE' then %>
        <img src = <%= media.url %>>
      <% else %>
        <video controls autoplay name="media">
          <source src=<%= media.url %> type="video/mp4">
          <source src=<%= media.url %> type="video/webm">
        </video>
      <% end %>
    <% end %>

    <%= link_to '投稿を編集', edit_post_path(@post.id) %>
    <%= link_to '投稿を削除', post_path(@post.id), :method => :delete, data: {confirm: "削除しますか？"} %>
    <%= link_to 'get media from instagram', controller: "instagram_auth", action: "show_image", id: @post.id %>
  </body>
</html>




