<!--共通部分-->
<!DOCTYPE html>
<html>
  <head>
    <title>Tragram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b86936315f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div>
      <% if current_user %>
        こんにちは、<%= current_user.name %>さん
        <br>
        <%= link_to root_path, class: "btn header_btn" do %>
          <i class="fa-solid fa-house"></i> Home page
        <% end %>
        <br>
        <%= link_to user_path(@current_user), class: "btn header_btn" do %>
          <i class="fa-solid fa-circle-user"></i> My page
        <% end %>
        <br>
        <%= link_to log_out_path, class: "btn header_btn" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out
        <% end %>

      <% else  %>
        ゲストさん
        <%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post %>
      <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
